body{
    background-color: rgb(245, 245, 234);
    margin: 0;
}

.header {
    margin: 0;
    background-color: #f5f5ea;
    position: relative;
  }
  
  .headerBar {
    background-color: #bbd9f5;
    text-align: center;
  }
  
  .menu {
    background-color: #ffffff; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
  }
  
  .menu ul {
    list-style-type: none;
    display: flex; 
    justify-content: center;
  }
  
  .menu ul li {
    margin-right: 10px;
  }
  
  .menu ul li a {
    color: #000000;
    text-decoration: none;
    text-align: center;
  }