.containerMinisImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgMini{

    width: 80px;
    height: 80px;
    margin: 5%;
    display: flex;
    justify-content: center;
}

.ubiImg{
    width: auto;
    height: 80px;
}

.faceImg{
    width: auto;
    height: 80px;
}

.celImg{
    width: auto;
    height: 80px;
}
