.section2{
    margin: 10px;
}

.textoCentral{
    text-align: center;
    font-size: 25px;
}


.imagenLateralDerecha{
    
    width: 80%;
    margin-bottom: 4%;
}

.containerImgIzq {
    display: flex;
}

.imagenLateralIzquierda {

    width: 80%;
    margin-left: auto;
}

.orillaImg{
    border-radius:10px;
    text-align: center;
    width: 100%;
    height: 200px;
}

.boteImg{
    border-radius:10px;
    text-align: center;
    width: 100%;
    height: 200px;
}